body {
	text-decoration: none;
	margin: 30px 165px;
	font: 20px sans-serif;
	line-height: 1.5;
	max-width: 1000px;
}

.box {
	float: left;
	width: 150px;
	height: 150px;
	margin: 1em;
}

a {
	color: blue;
	text-decoration: none;
}

#final-text {
	text-align: right;
}

#final {
	clear: left;
	font-size: 12px;
	text-align: center;
}

.bottomLinks {
	margin: 1em;
}